@import url("https://fonts.googleapis.com/css?family=Audiowide");

:root {
  --second-color: #372c50;
}

body {
  margin-top: 100px !important;
  background-color: #000 !important;
  font-family: "Audiowide", sans-serif !important;
}

::-webkit-scrollbar {
  width: 17px;
}

::-webkit-scrollbar-track {
  background-color: #000000a4;
  box-shadow: 0 0 10px rgb(0, 0, 0) inset;
}

::-webkit-scrollbar-thumb {
  background-color: #9b37ff;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(14, 14, 14);
}

::selection {
  background: #9b37ff;
  color: rgb(0, 0, 0);
}